{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<body class=w3-light-grey">
<style>
p {
	letter-spacing:0px
}
</style>
<!-- Page Container -->


  <!-- Grid -->
  <div style="white-space:nowrap;">

    <!-- Blog entries -->
    <div style="white-space:nowrap;">
	<!-- Blog entries -->
<form method="test">
        <button type="submit">Do it!</button>
    </form>
<!-- End blog entries -->
</div>
   
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</body>
</html>

{% endblock %}