{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<style>
p {
	letter-spacing:0px
}
</style>
<body class=w3-light-grey">

  <!-- Grid -->
  <div style="white-space:nowrap;">

    <!-- Blog entries -->
    <div style="white-space:nowrap;">
	<!-- Blog entries -->
 <form method="intro">
    </form>
	<center><p><h6>A video by 3Blue1Brown on the basics of cryptocurrencies:</h6></p><iframe width="560" height="315" src="https://www.youtube.com/embed/bBC-nXj3Ng4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><p><h6>A further simplified view on cryptocurrencies like Bitcoin</h6></p><iframe width="560" height="315" src="https://www.youtube.com/embed/s4g1XFU8Gto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
<h4>Vocabulary of Cryptocurrency:</h4>
<p><b>Blockchain:</b> Distributed ledgers that are secured by cryptography. They act as public databases that can be read by anyone, but only</p><p> updated by data owners. The data is copied across thousands of computers worldwide instead of residing in a centralized server.</p>
<p><b>Node:</b> A computer that possesses and maintains a copy of the blockchain.</p>
<p><b>Mining:</b> The process of solving the next block, requiring large amounts of processing power but is rewarded with cryptocurrency.</p>
<p><b>Proof-of-work:</b> The current consensus algorithm used by a cryptocurrency.</p>
<p><b>Software wallet</b> storage of cryptocurrency that exists as software files on a computer</p>
<p><b>Hardware wallet:</b> A device used to store cryptocurrency securely, often regarded as the most secure storage of cryptocurrencies.</p>
<p>More detailed explanations of these concepts and more can be found at <a href="https://cryptominded.com/glossary-cryptocurrency-terms-need-know/">Cryptominded.com</a></p>
<br><br>







</center>

<!-- End blog entries -->
</div>
   
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</body>
</html>

{% endblock %}